@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;700&display=swap');

*{
    box-sizing: border-box;
}
html,body{
    width:100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}
*:after,
*:before{
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
:active,
:hover,
:focus{
    outline:0 !important;
    outline-offset: 0;
}

a,
a:hover{
    text-decoration: none;
}

a:hover{
    color: var(--primary-color);
}

ul,
ol{
    margin: 0;
    padding: 0;
}
/*---------Variables Define-------*/
:root{
--primary-color:#3368FF;
--secondary-color:#3368FF;
--grey-color:#E0E0E0;
--primary-font:'Roboto', sans-serif;
--secondary-font: 'Quicksand', sans-serif;
--yellow-color:#CEA02E;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: var(--primary-font);
    font-size: 100%;
    font-weight: 400;
}

::-webkit-scrollbar{
    width: 0.625rem
}
::-webkit-scrollbar-track{
    background: var(--primary-color);
}
::-webkit-scrollbar-thumb{
    background: var(--primary-color);
}

h1{
    font-size: 3rem;
    font-weight: 900;
    margin-bottom: 3rem;
    color: var(--secondary-color);
}

h2{
    font-weight: 700;
    font-size: 2.25rem;
    text-transform: capitalize;
    font-family: var(--secondary-font);
    color: var(--secondary-color);
    line-height: 3rem;
}
/*------------Navbar--------------*/

.nav-underline{
    justify-items: left;
}
.btn .btn-primary{
    border-radius: 45%;
}
.c-item{
    height: 700px;
}

.c-item{
    height: 100%;
    object-fit: cover;
}



.main{
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: right;
  margin: 15px 15px;
}

.logo{
  height: auto;
  width: auto;
}
.logo img{
  height: 59px;
  width: 149px;
}
.banner{
  height: auto;
  width: auto;
}
.banner img{
  height: 1000px;
  width: 900px;
}